/*.mostarTela{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: aquamarine;
   margin-top: 20px;
   margin-left: 20px;
   width: 400px;

}
   */

.card{

    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    width: 600px;
    margin-left: 80px;
}